.header {
  background: #242529;
  color: #fff;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
  }

  &__logo {
    h1 {
      letter-spacing: 2px;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 2.5rem;

      span {
        color: #0dc5dd;
      }
    }
  }

  &__menu {
    .fa-bars {
      font-size: 2.5rem;
      cursor: pointer;
      position: relative;
      z-index: 10000;

      @media (min-width: 768px) {
        display: none;
      }
    }

    &--main {
      position: fixed;
      top: 0;
      right: -100vw;
      width: 100vw;
      height: 100vh;
      background: #232323ee;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3rem;
      text-transform: uppercase;
      transition: right 0.4s ease;

      form {
        @media screen and (min-width: 768px) {
          transform: translateX(1rem);
        }
      }

      input {
        padding: 0.8rem 3rem;
        border-radius: 50rem;
        font-size: 1.5rem;
      }

      button {
        color: #242529;
        border: none;
        outline: none;
        background: transparent;
        margin-left: -1rem;
        transform: translateX(-2rem);
        font-size: 1.6rem;
        cursor: pointer;
      }

      @media screen and (min-width: 768px) {
        all: unset;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2rem;
        color: #eee;
        letter-spacing: 0.5px;
        font-size: 1.5rem;
      }

      li {
        cursor: pointer;

        &:hover {
          color: #0dc5dd;
        }
      }
    }

    .open {
      right: 0;
    }

    .login {
      background: #0dc5dd;
      color: #242529;
      padding: 0.7rem 1.2rem;

      &:hover {
        color: white;
      }
    }
  }
}
